@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&family=Ubuntu&display=swap');

.mycard_container{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 5%;
    font-family: 'Lato', sans-serif;
}
.login_first{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: 30%;
    display: block;
    margin-top: 2%;
    font-size: 18px;
    color: #00758e;
    font-family: 'Lato', sans-serif;
}

.login_input{
    border: none;
    color: white;
    outline: none;
    width: 250px;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #5da4b4;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
    
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 35px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    margin: auto;
    border-radius: 30px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.card_line{
    width: 100% !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    background-color: #00758e !important;
    color: white !important;
    margin-top: 4%;
}
.card_line2{
    width: 100% !important;
    color: white !important;
    color:  #00758e !important;
  
}
.card_line2 p{
    text-align: center;
}
.card_line3{
    width: 40% !important;
    margin-left: 30% !important;
    color: white !important;
    margin-top: 4%;
}
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&family=Ubuntu&display=swap");
.mythsMain {
  width: 100%;
  font-family: "Lato", sans-serif;
}

.myths_header {
  display: flex;
  width: 100%;
  font-family: 'Lato', sans-serif;
}
.myths_header p {
  font-size: 25px;
  color: #00758e;
  font-weight: 700;
  margin-left: 35%;
}

.myths_header button {
  width: 100px;
  height: 50px;
  background-color: #00758e;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: 700;
  color: white;
  margin: 2% 0 0 19%;
}

.myths_content {
  width: 100%;
}
.myths_contentCenter {
  width: 80%;
  height: 550px;
  margin-left: 10%;
  background: linear-gradient(241.57deg, #321d6a -31.15%, #39bfc6 108.29%);
  border-radius: 40px;
  font-size: 1.5em;
  font-weight: 600;
}
.myths_cCenterLeft {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.2em;
  line-height: 25px;
  padding-top: 10px;
}.myths_cCenterLeft h5{
  margin: 0;
}

.myths_cCenterRightH p {
  text-align: center;
  font-size: 1.2em;
  color: white;
}
.myths_cCenterRightH ul li {
 font-size: .8em;
 font-weight: 500;
 color: white;

}
