@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&family=Ubuntu&display=swap');
.header_container {
  width: 100wh;
  height: 80px;
  background-color: #00758e;
  font-family: 'Lato', sans-serif;
}
.header_first_line {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_link {
  width: 14%;
  height: 100%;
  margin-top: 1%;
  text-decoration: none;
}
.header_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.header_block p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: auto;
  text-align: center;
}
.header_icon {
  width: 30px !important;
  height: 30px !important;
  color: white !important;
}
.header_link:hover {
  width: 14%;
  height: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active_header_link .header_icon {
  width: 30px !important;
  height: 30px !important;
  color: #9FF5DA !important;
}
.active_header_link p {
  font-size: 16px;
  font-weight: 500;
  color: #9FF5DA;
  margin: auto;
}
